<nav class="navbar navbar-default" style="margin-bottom:0;">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">Photo Sharing</span>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['']">Home</a></li>
                <li><a [routerLink]="['new']">New Post</a></li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>